<div class="quick-view-main">
	<div class="row product-detail">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="quick-view-img" data-src="images/product-1.jpg" data-fancybox="gallery"><img src="images/product-1.jpg" alt=""></div>
		</div>	
		<div class="col-lg-6 col-md-6 col-sm-6">	
			<div class="product-dtl-text wow fadeInUp" data-wow-delay="0.3s">
				<h1>Calathea Orbifolia</h1>
				<p>If you have space to spare, make an impressive display in your living room with a great eye-catcher Anthurium plant.</p>
				<p><strong>What makes it special:</strong></p>
				<ul class="listing">
					<li>One of the rarest indoor flowering plants.</li>
					<li>NASA recommended air purifier plant.</li>
					<li>Low maintenance plant.</li>
					<li>Anthurium symbolizes hospitality.</li>
				</ul>	
				<ul class="packings-quantity">
					<li>
						<label>Quantity</label>
						<div class="pq-detail">
							<div class="my-cart-ul-dtl">
							<div class="quantity-control-div plus-minus">
								<a href="javascript:void(0);" class="minus-btn minusBtn">-</a>
								<div class="quantity-control"><input type="text" class="form-control noValue" value="1"></div>
								<a href="javascript:void(0);" class="plus-btn plusBtn">+</a>
							</div></div>
						</div>	
					</li>
					<li>
						<label>Price</label>
						<div class="pq-detail"><strong class="price-amount">2.500 KD</strong></div>	
					</li>
				</ul>
				<div><a href="javascript:void(0);" class="button quick-view-addtocart">Add To Cart</a></div>
			</div>
		</div>
	</div>
	<!--<div class="quick-view-addcart-main">
		<div class="quick-view-sub">
			<div class="tikmark"><img src="images/tikmark.svg" alt="tikmark"></div>
			<h4>Added in the Cart</h4>
		</div>	
	</div>-->
</div>
<script type="text/javascript" src="js/quick.view.js"></script>